Source: switchboard-plug-pantheon-shell
Section: x11
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgnome-desktop-3-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.10),
               libplank-dev,
               libswitchboard-2.0-dev,
               valac (>= 0.22)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/pantheon-plugs

Package: switchboard-plug-pantheon-shell
Architecture: any
Depends: gala, slingshot-launcher, ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Recommends: plank
Enhances: switchboard
Conflicts: switchboard-plug-wallpaper
Replaces: switchboard-plug-wallpaper
Description: Change desktop settings
 Switchboard plug for controlling Pantheon Shell.

Package: switchboard-plug-pantheon-shell-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-pantheon-shell (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: switchboard-plug-pantheon-shell
Description: Change desktop settings (debugging symbols)
 Switchboard plug for controlling Pantheon Shell.
 .
 This package contains debugging symbols for switchboard-plug-template.
