Source: switchboard-plug-pantheon-shell
Section: x11
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 7.0.50~),
               libgranite-dev,
               libpantheon-dev,
               valac-0.16 | valac (>= 0.16)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/pantheon-plugs

Package: switchboard-plug-pantheon-shell
Architecture: any
Depends: gala, slingshot-launcher, ${misc:Depends}, ${shlibs:Depends}
Recommends: plank
Enhances: switchboard
Description: Change desktop settings
 Switchboard plug for controlling Pantheon Shell.

Package: switchboard-plug-pantheon-shell-dbg
Architecture: any
Section: debug
Priority: extra
Depends: switchboard-plug-pantheon-shell (= ${binary:Version}), ${misc:Depends}
Enhances: switchboard-plug-pantheon-shell
Description: Change desktop settings (debugging symbols)
 Switchboard plug for controlling Pantheon Shell.
 .
 This package contains debugging symbols for switchboard-plug-template.
