.wallpaper-container {
    background-color: transparent;
}

.wallpaper-container:focus .card {
    box-shadow:
        0 0 0 4px alpha (@text_color, 0.2),
        0 0 0 1px alpha (#000, 0.05),
        0 3px 3px alpha (#000, 0.22);
}

.wallpaper-container:focus .card:checked {
    box-shadow:
        0 0 0 4px @colorAccent,
        0 0 0 1px alpha (#000, 0.05),
        0 3px 3px alpha (#000, 0.22);
}
